{%- import '_macros.j2' as macros with context -%}
{{ ansible_managed|comment(decoration='# ') }}

# Configuration data is parsed as follows:
#  1. command line options
#  2. user-specific file
#  3. system-wide file
# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

{% for host, options in ssh_client__custom_config|dictsort %}
Host {{ host }}
{%   for key, option in options|dictsort %}
  {{ key }} {{ option }}
{%   endfor %}
{% endfor %}

Host *
  ### GENERAL SECTION
  Protocol 2

  ### NETWORK SECTION
  Port {{ ssh_client__port }}
  AddressFamily "{{ ssh_client__address_family }}"
{% if ssh_client__proxy_command is defined %}
  ProxyCommand {{ ssh_client__proxy_command }}
{% endif %}

  ### Encryption parameters
  KexAlgorithms {{ ssh_client__kex_algorithms|join(',') }}
  Ciphers {{ ssh_client__ciphers|join(',') }}
  MACs {{ ssh_client__macs|join(',') }}

  ### AUTHENTIFICATION MODE
  ## Password authentication
  PasswordAuthentication {{ macros.bool(ssh_client__password_authentication) }}

  ## ChallengeResponse Authentication
  ChallengeResponseAuthentication {{ macros.bool(ssh_client__challenge_response_authentication) }}

  ## Keyboard Interactive authentification
  KbdInteractiveAuthentication {{ macros.bool(ssh_client__keyboardinteractive_authentication) }}

  ## PubKey authentication
  PubkeyAuthentication {{ macros.bool(ssh_client__pubkey_authentication) }}

{% if _ssh_client__version is version(7.6, '<') %}
  ## RSAAuthentication
  # Protocol 1
  RSAAuthentication {{ macros.bool(ssh_client__rsa_authentication) }}
  RhostsRSAAuthentication {{ macros.bool(ssh_client__rhosts_rsa_authentication) }}
{% endif %}

  ## HostbasedAuthentication
  # Protocol 2
  HostbasedAuthentication {{ macros.bool(ssh_client__host_based_authentication) }}

  ## GSSAPI authentication
  GSSAPIAuthentication {{ macros.bool(ssh_client__gssapi_authentication) }}
{% if ssh_client__gssapi_authentication|bool %}
  GSSAPIDelegateCredentials {{ macros.bool(ssh_client__gssapi_delegate_credentials) }}
  GSSAPIKeyExchange {{ macros.bool(ssh_client__gssapi_key_exchange) }}
  GSSAPITrustDNS {{ macros.bool(ssh_client__gssapi_trust_dns) }}
{% endif %}

  ### LOGIN
  SendEnv {{ ssh_client__send_env|d([])|unique|join(' ') }}
  ForwardX11 {{ macros.bool(ssh_client__forward_x11) }}
{% if ssh_client__forward_x11|bool %}
  ForwardX11Trusted {{ macros.bool(ssh_client__forward_x11_thrusted) }}
{% endif %}

  HashKnownHosts yes
  GlobalKnownHostsFile {{ ssh_client__known_hosts if ssh_client__known_hosts is string else ssh_client__known_hosts|join(' ') }}

  UseRoaming no

#   BatchMode no
#   CheckHostIP yes

#   ConnectTimeout 0
#   StrictHostKeyChecking ask
#   EscapeChar ~
#   Tunnel no
#   TunnelDevice any:any
#   PermitLocalCommand no
#   VisualHostKey no
#   RekeyLimit 1G 1h
#
# Uncomment this if you want to use .local domain
# Host *.local
#   CheckHostIP no	
